@model IEnumerable<Product>


<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4 "><span class="badge bg-light bordred text-dark">إضافة منتج جديد</span> </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-success" onclick="AddNewItems()">  <i class="fs-4 bi-cart-plus p-2"></i> أضافة منتج </button>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="newproducts">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> إضافة منتج جديد </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateProducts" method="post">
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="">اسم المنتج</label>
                            <input type="text" id="newitem" name="Name" class="form-control form-control-sm" />
                        </div>
                        <div class="col">
                            <label class="form-label" for="">وصف المنتج </label>
                            <input type="text" id="description" name="Description" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء الأمر </button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">حفظ</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        @if (TempData["Add"] != null)
        {


            if (TempData["Add"].ToString() == "True")
            {
                <small class="badge bg-success text-center"> @TempData["Add"]  </small>
            }

            else
            {
                <small class="badge bg-danger text-center">@TempData["Add"]  </small>
            }
        }

    </div>
</div>
                
<br />
                <table class="table table-bordered text-center">
                    <thead class="bg-success text-white">
                        <tr>
                            <th>رقم المنتج</th>
                            <th>اسم المنتج</th>
                            <th>وصف المنتج</th>
                            <th colspan="2">إجراء </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var items in Model)
                        {
                            <tr>
                                <td>@items.Id</td>
                                <td>@items.Name</td>
                                <td>@items.Description</td>
                                <td><a asp-action="Delete" asp-route-record_no="@items.Id"> <i class="bi bi-archive-fill text-danger"></i></a>  </td>
                                <td><a asp-action="Edit" asp-route-record_no="@items.Id"><i class="bi bi-pencil-fill text-success"></i></a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col">
                        @if (TempData["del"] != null)
                        {
                            if (@TempData["del"].ToString() == "True")
                            {
                                <h2 class="alert alert-success">تم الحذف</h2>
                            }




                        }


                    </div>
                </div>